body{
    margin: 0;
}

/* ------------- DEBUT PARTIE HEADER ------------- */

header{
    background-color: rgb(226, 226, 226);
    padding: 0.5%;
}

.container{
    overflow:auto;
    z-index: 1;
}

/* Le logo */

.logo img{
    float:left;
    height: 5%;
    width: 5%;
    margin-right: 1%;
}

/* La barre de navigation */

.navigation ul{
    display: inline;
}   

.menuL{
    float: left;
    padding-left: 0%;
    z-index:1;
}

.menuR{
    float: right;
    padding-right: 1%;
}

nav ul ul li{
    display: inline-block;
    padding: 15px;
    font-size: 20px;
}

nav a{
    text-decoration: none;
}

/* Les icônes de la barre de navigation */

nav img{
    height: 100%;
    width: 100%;
}


/* ------------- FIN PARTIE HEADER ------------- */

/* Test sous menu */

.menuL li ul li{
    margin: 0;
    padding: 0;
}

.menuL li ul{
    display: none;
}

.menuL li:hover ul{
    display: flex;
    flex-direction: column;
    border: 1px solid;
    padding: 5px;
    z-index: 99;
    position: relative; 

}

.menuL li{
    float: left;
    text-align: center; 
}

.menuL > li:hover   {
    background-color: rgb(87, 79, 79);
}

.menuL a{
    color: white;
}



