body{
    margin: 0;
}

/* ------------- DEBUT PARTIE HEADER ------------- */

header{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0;
}

.container{
    overflow: auto;
}

/* Le logo */

.logo img{
    float:left;
    height: 5%;
    width: 5%;
    margin-right: 1%;
    padding: 0.5%;
}

/* La barre de navigation */

.navigation ul{
    display: inline;
}   

.navigation ul li{
    display: inline-block;
    padding: 15px;
    font-size: 20px;
}

.navigation a{
    text-decoration: none;
}

/* Partie gauche de la barre de navigation */

.menuL{
    padding-left: 0;
}

.menuL > li > a{
    color: rgb(5,164,227);
}

.menuL li ul li a{
    color: white
}

.menuL > li{
    float: left;
    transition: 0.4s;
}

.menuL > li:hover{
    background-color: rgba(87, 87, 87, 0.2);
}

.menuL li ul{
    display: none;
}

.menuL li:hover ul{
    display: flex;
    flex-direction: column;
    padding: 5px 5px 1px 5px;
    border-left: 2.5px solid rgb(5,164,227);
}

.menuL li ul li{
    margin: 0;
    padding: 0;
    transition: 0.2s;
}

.menuL > li > ul > li:hover{
    font-size: 21.5px;
}

/* Partie droite de la barre de navigation */

.menuR{
    float: right;
    padding-right: 2%;
}

.menuR img{
    height: 100%;
    width: 100%;
}

/* ------------- FIN PARTIE HEADER ------------- */
