:root{
    --bleu: #6eb6f3;
    --vert: #85ea81;
    --vert_clair: #c1f199;
    --bleu_fonce: #041C63;
}


body{
    margin: 0;
    background: var(--vert_clair);
}

*::selection{
    background: var(--vert);
    color:#fff;
}

/* ------------- DEBUT PARTIE HEADER ------------- */

header{
    background-color: var(--bleu);
    padding: 0;
    position: sticky;
    top: 0;
    z-index:1;
}

.container{
    overflow:auto;
}

/* Le logo */

.logo img{
    float:left;
    height: 75px;
    width: 75px;
    margin-right: 1%;
    padding: 0.5%;
}

/* La barre de navigation */

.navigation ul{
    display: inline;
}

.navigation ul li{
    display: inline-block;
    padding: 15px;
    font-size: 19px;
}

.navigation a{
    text-decoration: none;
}

/* Partie gauche de la barre de navigation */

.menuL{
    padding-left: 0;
}

.menuL > li > a{
    color: white;
}

.menuL li ul li a{
    color: white
}

.menuL > li{
    float: left;
    transition: 0.4s;
}

.menuL > li:hover{
    background-color: rgba(87, 87, 87, 0.2);
}

.menuL li ul{
    display: none;
    flex-direction: column;
    padding: 5px 5px 1px 5px;
    border-left: 2.5px solid var(--bleu_fonce);
}

.menuL li:hover ul{
    display: flex;
}

.menuL li ul li{
    margin: 0;
    padding: 0;
    transition: 0.2s;
}

.menuL > li > ul > li:hover{
    font-size: 20px;
}

/* Partie droite de la barre de navigation */

.menuR{
    float: right;
    padding-right: 2%;
}

.menuR img{
    height: 100%;
    width: 100%;
}

/* ------------- FIN PARTIE HEADER ------------- */

/* ------------- DEBUT PARTIE HOME ------------- */

.accueil{
    min-height: 100vh;
    display: flex;
    align-items:center;
    background: url(../Images/accueil.jpg) no-repeat;
    background-size: cover;
    background-position : center;
    background-attachment: fixed;
}

.accueil .content span{
    font-size: 5rem;
    color:white;
    border-radius: 1rem;
}

/* ------------- FIN PARTIE HOME ------------- */

/* ------------- DEBUT PARTIE HISTORIQUE ------------- */

.titre{
    text-align: center;
    font-size: 20px;
}

#accueil{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.tab_historique{
    background-color: white;
    font-size: large;
    width: 1000px;
    transition: 0.5s;
}

@media (max-width:1020px){
    .tab_historique{
        width: 500px;
    }
}

.tab_historique,th,td{
    border-collapse: collapse;
    border:1px solid #cccccc;
    padding: 10px;
}

.tab_historique a{
    text-decoration: none;
    color:black;
}

/* ------------- FIN PARTIE HISTORIQUE ------------- */

/* ------------- DEBUT PARTIE FOOTER ------------- */

img{
    width: 20px;
    padding-right: 10px;
}
footer{
    flex-shrink: 0;
    border-top: 1px #000;
    width : 100%;
    background: var(--bleu);
    color: #333;
}

.contenu-footer{
    width:1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
}

.footer-horaire h3, .footer-reseaux h3{
    font-size: 25px;
    padding-bottom: 20px;
}

.liste-horaire, .liste-media{
    list-style-type: none;
    padding-left: 0;
}

.footer-horaire{
    margin-right: 100px;
}

.liste-media a{
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    font-size: 20px;
}

/* Taille écran */

@media screen and (max-width: 1300px){
    .contenu-footer{
        display: flex;
        width: 700px;
        flex-wrap: wrap;
        align-items: center;

    }

    .footer-horaire{
        margin-right: 8.6%;

    }

    .accueil .content span{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 25%;
        font-size: 4rem;
    }


}

@media screen and (max-width: 800px ){
    .contenu-footer{
        width: 320px;
    }
}
/* /!\ les éléments ne sont pas alignés /!\ */

/* ------------- FIN PARTIE FOOTER ------------- */



/* ------------- DEBUT PARTIE COMMANDE ------------- */

.titre{
    display: flex;
    justify-content: center;
}

#titre-panier{
    text-align: center;
}

.container1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: linear-gradient(to bottom, rgba(123,234,255,0.8), var(--vert_clair)), url("../Images/accueil.jpg");
}

.produit img{
    width: 75px;
}

.scroll{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    border:1px solid black;
    width: 1000px;
    height: 400px;
    overflow-y: scroll;
    scrollbar-color: darkblue white;
    scrollbar-width: thin;
    margin-bottom: 2%;
}

.produit{
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2%;
}

.container2{
    margin-top: 1%;
    background: var(--bleu);
    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    border: black 1px solid;
    border-radius: 3px;
}

.panier div{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
}

.total{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.reduc{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.mode{
    text-align: center;
    margin-bottom: 4%;
}

#r{
    width: 30%;
}

#payer,#vider{
    font-size: 120%;
    color: white;
    background: #041C63;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    border: white solid 1px;
    margin-bottom: 2%;
    cursor: pointer;
}

.supp,#abc,.valider{
    cursor: pointer;
}

.produit{
    margin-right: 2%;
    margin-left: 2%;
}

/*------------------------FIN PARTIE COMMANDE-------------------------*/

/*-------------------- DEBUT PARTIE LOGIN -------------------- */


#container_login{
    background-color: var(--bleu);
    display: flex;
    justify-content: center;
    height: 120px;
    position: relative;
}

#logo_login{
    display: flex;
    align-items: center;
}

#accueil_form{
    justify-content: center;
}


.login_title{
    text-align: center;
    margin-bottom: 0px;
}

.identification{
    background-color: var(--vert_clair);
    opacity: 0.95;
    padding: 20px;
    border-radius: 30px;
    width: 40%;
}

.formulaire{
    padding: 50px;
    text-align: center;
}

.formulaire label{
    font-size: 25px;
    margin: 50px;
}

.formulaire span{
    font-size: 15px;
}

.input_login{
    width: 300px;
    height: 30px;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 0 10px 0 20px;
    font-size: 15px;
}

.submit_login{
    padding: 8px;
    margin: 10px;
    background-color: var(--bleu);
    border: 0;
    border-radius: 20px;
    width: 200px;
}

.submit_login:hover{
    background-color: #3d75a8;
}

/*-------------------- FIN PARTIE LOGIN -------------------- */

.form{
    background-color: var(--vert_clair);
    opacity: 0.95;padding: 20px;
    border-radius: 30px;
    width: 40%;
    z-index: 0;
}

.form h1{
    text-align: center;
    justify-content: center;

}

.form form{
    padding-left: 50px;
    text-align: left
}

.question{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 2%;

}

/*-------------------------- DEBUT PARTIE STOCK -----------------------------*/

.tab_stock img{
    height: 100px;
    width: 100px;
}

.tab_stock{
    background-color: var(--vert_clair);
    font-size: large;
    border-radius: 20px;
    width: 500px;
    transition: 0.5s;
}

@media (max-width:1020px){
    .tab_stock{
        width: 500px;
    }
}

.tab_stock,th,td{
    border-collapse: collapse;
    border:1px solid #cccccc;
}

.qte_article{
    text-align: center;
}

.nom_article a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
}

/*-------------------------- FIN PARTIE STOCK -----------------------------*/

/*--------------------------- DEBUT PARTIE INVENTAIRE ------------------*/

.form{
    background-color: var(--vert_clair);
    opacity: 0.95;padding: 20px;
    border-radius: 30px;
    width: 40%;
    z-index: 0;
}

.form h1{
    text-align: center;
    justify-content: center;

}

.form form{
    margin-right: auto;
    margin-left: 2%;
    padding-left: 1%;
    text-align: left;
}


.form label{
    display: block;
    width: 60%;
    float: left;
    font-size: larger;
}

.form label .input_form{
    display: inline-block;
    margin-bottom: 2%;
}

.input_form{
    margin: 5px;
}

.submit_modif{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    margin-top: 2%;
    padding-right: 1%;
}

.submit_modif input{
    background-color: #6eb6f3;
    color: white;
    width: 20%;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    border: 1px solid black
}

.submit_modif input:hover{
    background-color: #3c84c2;
}

.compte{
    background-color: var(--vert_clair);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
}

.photoDeProfil{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}